{% extends "wagtailadmin/base.html" %}
{% load wagtailimages_tags i18n compress static %}
{% block titletag %}{% trans "Add multiple images" %}{% endblock %}
{% block bodyclass %}menu-images{% endblock %}

{% block content %}
    {% trans "Add images" as add_str %}
    {% include "wagtailadmin/shared/header.html" with title=add_str icon="image" %}

    <div id="image-multi-upload">
        <div class="nice-padding">
            <div class="drop-zone">
                <p>{% trans "Drag and drop images into this area to upload immediately." %}</p>

                <form action="{% url 'wagtailimages_add_multiple' %}" method="POST" enctype="multipart/form-data">
                    <div class="replace-file-input">
                        <button class="bicolor icon icon-plus">{% trans "Or choose from your computer" %}</button>
                        <input class="fileupload" type="file" name="files[]" data-url="{% url 'wagtailimages_add_multiple' %}" multiple>
                    </div>
                    {% csrf_token %}
                </form>
            </div>

            <div class="progress progress-secondary">
                <div class="bar" style="width: 0%;">0%</div>
            </div>

            <ul class="upload-list multiple"></ul>
        </div>
        {% include "wagtailimages/multiple/list_item.html" %}

    </div>
{% endblock %}

{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {% url 'wagtailadmin_tag_autocomplete' as autocomplete_url %}
    <script>
        $(function() {
            add_file_upload_widget($('#image-multi-upload'), {
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
            });
        });
        window.simple_upload_url = "{% url 'wagtailimages_add_image' %}";
        window.tagit_opts = {
            autocomplete: {source: "{{ autocomplete_url|addslashes }}"}
        };
    </script>
{% endblock %}
