{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load wagtailimages_tags %}
{% block titletag %}{% trans "Add multiple images" %}{% endblock %}

{% block extra_css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'wagtailimages/css/add-multiple.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    {% trans "Add images" as add_str %}
    {% include "wagtailadmin/shared/header.html" with title=add_str icon="image" %}

    <div id="image-multi-upload">
    <div class="nice-padding">
        <div class="drop-zone">
            <p>{% trans "Drag and drop images into this area to upload immediately." %}</p>
            <p>{{ help_text }}

            <form action="{% url 'wagtailimages:add_multiple' %}" method="POST" enctype="multipart/form-data" novalidate>
                <div class="replace-file-input">
                    <button class="button bicolor icon icon-plus">{% trans "Or choose from your computer" %}</button>
                    <input class="fileupload" type="file" name="files[]" data-url="{% url 'wagtailimages:add_multiple' %}" multiple />
                </div>
                {% csrf_token %}
                {% if collections %}
                    <div class="field">
                        <label for="id_addimage_collection">{% trans "Add to collection:" %}</label>
                        <div class="field-content">
                            <select id="id_addimage_collection" name="collection">
                                {% for collection in collections %}
                                    <option value="{{ collection.id|unlocalize }}">{{ collection.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>

        <div class="progress progress-secondary">
            <div class="bar" style="width: 0%;">0%</div>
        </div>

        <ul class="upload-list multiple"></ul>
        {% include "wagtailimages/multiple/list_item.html" %}
    </div>
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {% url 'wagtailadmin_tag_autocomplete' as autocomplete_url %}

    <script>
        window.fileupload_opts = {
            simple_upload_url: "{% url 'wagtailimages:add' %}",
            accepted_file_types: /\.({{ allowed_extensions|join:"|" }})$/i, //must be regex
            max_file_size: {{ max_filesize|stringformat:"s"|default:"null" }}, //numeric format
            errormessages: {
                max_file_size: "{{ error_max_file_size }}",
                accepted_file_types: "{{ error_accepted_file_types }}"
            }
        };

        $(function() {
            add_file_upload_widget($('#image-multi-upload'),
                                   window.fileupload_opts);
        });

        window.tagit_opts = {
            autocomplete: {source: "{{ autocomplete_url|addslashes }}"}
        };
    </script>
{% endblock %}
