{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}
{% block titletag %}{% blocktrans with title=page.title %}Archive {{ title }}{% endblocktrans %}{% endblock %}

{% block content %}
    {% trans "Archive" as archive_str %}
    {% include "wagtailadmin/shared/header.html" with title=archive_str subtitle=page.title icon="doc-empty-inverse" %}

    <div class="nice-padding">
        <p>
            {% trans 'Are you sure you want to archive this page?' %}
            {% if descendant_count %}
                {% blocktrans count counter=descendant_count %}
                    This will also archive one more subpage.
                {% plural %}
                    This will also archive {{ descendant_count }} more subpages.
                {% endblocktrans %}
            {% endif %}
        </p>
        {% page_permissions page as page_perms %}
        <form action="{% url 'wagtailadmin_pages:archive' page.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="{% trans 'Archive it' %}" class="button serious {% if page.live %}button-secondary{% endif %}">
        </form>
    </div>
{% endblock %}
