{% load wagtailimages_tags compress static %}
{% load i18n %}
{% trans "Choose an image" as choose_str %}
{% include "wagtailadmin/shared/header.html" with title=choose_str merged=1 tabbed=1 icon="image" %}

{% if uploadform %}
    <ul class="tab-nav merged">
        <li class="{% if not uploadform.errors %}active{% endif %}"><a href="#search" >{% trans "Search" %}</a></li>
        <li class="{% if uploadform.errors %}active{% endif %}"><a href="#upload">{% trans "Upload" %}</a></li>
    </ul>
{% endif %}

<div class="tab-content">
    <section id="search" class="{% if not uploadform.errors %}active{% endif %} nice-padding">
        <form class="image-search search-bar" action="{% url 'wagtailimages_chooser' %}{% if will_select_format %}?select_format=true{% elif will_select_rendition %}?select_rendition=true{% if additional_params %}&amp;{{ additional_params|iriencode }}{% endif %}{% endif %}" method="GET" autocomplete="off">
            <ul class="fields">
                {% for field in searchform %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                <li class="submit"><input type="submit" value="{% trans 'Search' %}" /></li>
                {% if popular_tags %}
                    <li class="taglist">
                        <h3>{% trans 'Popular tags' %}</h3>
                        {% for tag in popular_tags %}
                            <a class="suggested-tag tag" href="{% url 'wagtailimages_index' %}?q={{ tag.name|urlencode }}">{{ tag.name }}</a>
                        {% endfor %}
                    </li>
                {% endif %}
            </ul>
        </form>
        <div id="image-results">
            {% include "wagtailimages/chooser/results.html" %}
        </div>
    </section>
    {% if uploadform %}
        <section id="upload" class="{% if uploadform.errors %}active{% endif %} nice-padding">
            <div id="{{ uploadid }}">
                <div class="drop-zone">
                    <p>{% trans "Drag and drop images into this area to upload immediately." %}</p>

                    <form action="{% url 'wagtailimages_chooser_upload' %}{% if will_select_format %}?select_format=true{% elif will_select_rendition %}?select_rendition=true{% if additional_params %}&amp;{{ additional_params|iriencode }}{% endif %}{% endif %}"
                    method="POST" enctype="multipart/form-data">
                        <div class="replace-file-input">
                            <button class="bicolor icon icon-plus">{% trans "Or choose from your computer" %}</button>
                            <input class="fileupload" type="file" name="files[]" />
                        </div>
                        {% csrf_token %}
                    </form>
                </div>

                <div class="progress progress-secondary">
                    <div class="bar" style="width: 0%;">0%</div>
                </div>

                <ul class="upload-list multiple"></ul>
                {% include "wagtailimages/multiple/list_item.html" %}
            </div>
        </section>

        {% url 'wagtailadmin_tag_autocomplete' as autocomplete_url %}
        <script>
            $(function() {
                add_file_upload_widget($('#{{ uploadid }}'), {
                    acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                    oneFileOnly: true
                });
            });
            window.simple_upload_url = "{% url 'wagtailimages_add_image' %}";
            window.tagit_opts = {
                autocomplete: {source: "{{ autocomplete_url|addslashes }}"}
            };
        </script>
    {% endif %}
</div>
