{% load wagtailimages_tags %}
{% load i18n %}
{% trans "Crop image" as choose_str %}
{% include "wagtailadmin/shared/header.html" with title=choose_str %}

<section class="active nice-padding image-cropper">
    <div class="crop-image">
        {% image image original %}
    </div>
    <form action="{% url 'wagtailimages_chooser_select_rendition' image.id %}" method="POST">
        {% csrf_token %}
        <ul class="fields">
            {% for field in form %}
                {{ field }}
            {% endfor %}
            <li>
                <div class="field aspect-ratio">
                    <label>Cropping aspect ratio</label>
                    <div class="field-content">
                        <input type="radio" name="aspect-ratio" value="1:1" />
                        <span>1:1</span>

                        <input type="radio" name="aspect-ratio" value="4:3" />
                        <span>4:3</span>

                        <input type="radio" name="aspect-ratio" value="16:9" />
                        <span>16:9</span>

                        <input type="radio" name="aspect-ratio" value="2:1" />
                        <span>2:1</span>

                        <input type="radio" name="aspect-ratio" value="free"
                               checked="true" />
                        <span>free</span>
                    </div>
                </div>
            </li>

            <li>
                <input type="submit" class="crop-button"
                       value="{% trans 'Crop' %}" />
                <input type="submit" class="skip-button"
                       value="{% trans 'Whole image' %}" />
            </li>
        </ul>
    </form>
</section>
